In [40]:
import numpy as np
import pandas as pd

dataset1 = pd.read_csv('mrg_trading.csv',error_bad_lines=False,encoding='latin')
dataset1.to_csv('mrg_trading.csv', encoding='utf-8')
dataset2 = pd.read_csv('mrg_trading.csv')
dataset2

dataset2 = pd.read_csv('q.csv')

dataset2

In [43]:
dataset = pd.read_excel('companies.xlsx')

In [44]:
dataset

,Sr. No.,Symbol,Company Name,Market Capitalisation \n(In lakhs)
0,1,RELIANCE,Reliance Industries Limited,7.06036e+07
1,2,TCS,Tata Consultancy Services Limited,6.85223e+07
2,3,HINDUNILVR,Hindustan Unilever Limited,4.97584e+07
3,4,HDFCBANK,HDFC Bank Limited,4.72482e+07
4,5,HDFC,Housing Development Finance Corporation Limited,2.82357e+07
...,...,...,...,...
1792,1793,RAJOIL,Raj Oil Mills Limited,"Not Traded as on March 31, 2020"
1793,1794,SHARONBIO,Sharon Bio-Medicine Limited,"Not Traded as on March 31, 2020"
1794,1795,TANTIACONS,Tantia Constructions Limited,"Not Traded as on March 31, 2020"
1795,NaN,NaN,NaN,NaN
1796,Note: Kindly refer regulation 15 of SEBI (LODR...,NaN,NaN,NaN